.game-page {
    display: grid;

    grid-template-columns: 990px 1fr;
    grid-template-rows: 900px 1fr;

    grid-template-areas:
        "board sidebar";

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

/* ---------- Board ---------- */

.board-area {
    grid-area: board;
    overflow: hidden;
}

/* ---------- Right Sidebar ---------- */

.right-sidebar {
    grid-area: sidebar;

    display: grid;
    grid-template-rows: 1fr 1fr 2fr;

    border-left: 1px solid #888;
}

.bottom-sidebar{
    grid-area:auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
}

.action-area {
    overflow-y: auto;
    border-bottom: 1px solid #888;
}

.chat-area {
    overflow: hidden;
}

.game-info-area {
    border-right: 1px solid #888;
    overflow-y: auto;
}

.player-info-area {
    overflow-x: auto;
}
